@import "tailwindcss";

@theme {
    --color-*: initial;
    /* Light-BEGIN */
    --color-neutral-50:  oklch(0.147 0.004  49.250);
    --color-neutral-100: oklch(0.216 0.006  56.043);
    --color-neutral-200: oklch(0.268 0.007  34.298);
    --color-neutral-300: oklch(0.374 0.010  67.558);
    --color-neutral-400: oklch(0.444 0.011  73.639);
    --color-neutral-500: oklch(0.553 0.013  58.071);
    --color-neutral-600: oklch(0.709 0.010  56.259);
    --color-neutral-700: oklch(0.869 0.005  56.366);
    --color-neutral-800: oklch(0.923 0.003  48.717);
    --color-neutral-900: oklch(0.970 0.001 106.424);
    --color-neutral-950: oklch(0.985 0.001 106.423);
    --color-primary-50:  oklch(0.293 0.066 243.157);
    --color-primary-100: oklch(0.391 0.090 240.876);
    --color-primary-200: oklch(0.443 0.110 240.790);
    --color-primary-300: oklch(0.500 0.134 242.749);
    --color-primary-400: oklch(0.588 0.158 241.966);
    --color-primary-500: oklch(0.685 0.169 237.323);
    --color-primary-600: oklch(0.746 0.160 232.661);
    --color-primary-700: oklch(0.828 0.111 230.318);
    --color-primary-800: oklch(0.901 0.058 230.902);
    --color-primary-900: oklch(0.951 0.026 236.824);
    --color-primary-950: oklch(0.977 0.013 236.620);
    --color-ok-50:       oklch(0.266 0.065 152.934);
    --color-ok-100:      oklch(0.393 0.095 152.535);
    --color-ok-200:      oklch(0.448 0.119 151.328);
    --color-ok-300:      oklch(0.527 0.154 150.069);
    --color-ok-400:      oklch(0.627 0.194 149.214);
    --color-ok-500:      oklch(0.723 0.219 149.579);
    --color-ok-600:      oklch(0.792 0.209 151.711);
    --color-ok-700:      oklch(0.871 0.150 154.449);
    --color-ok-800:      oklch(0.925 0.084 155.995);
    --color-ok-900:      oklch(0.962 0.044 156.743);
    --color-ok-950:      oklch(0.982 0.018 155.826);
    --color-warn-50:     oklch(0.286 0.066  53.813);
    --color-warn-100:    oklch(0.421 0.095  57.708);
    --color-warn-200:    oklch(0.476 0.114  61.907);
    --color-warn-300:    oklch(0.554 0.135  66.442);
    --color-warn-400:    oklch(0.681 0.162  75.834);
    --color-warn-500:    oklch(0.795 0.184  86.047);
    --color-warn-600:    oklch(0.852 0.199  91.936);
    --color-warn-700:    oklch(0.905 0.182  98.111);
    --color-warn-800:    oklch(0.945 0.129 101.540);
    --color-warn-900:    oklch(0.973 0.071 103.193);
    --color-warn-950:    oklch(0.987 0.026 102.212);
    --color-fail-50:     oklch(0.258 0.092  26.042);
    --color-fail-100:    oklch(0.396 0.141  25.723);
    --color-fail-200:    oklch(0.444 0.177  26.899);
    --color-fail-300:    oklch(0.505 0.213  27.518);
    --color-fail-400:    oklch(0.577 0.245  27.325);
    --color-fail-500:    oklch(0.637 0.237  25.331);
    --color-fail-600:    oklch(0.704 0.191  22.216);
    --color-fail-700:    oklch(0.808 0.114  19.571);
    --color-fail-800:    oklch(0.885 0.062  18.334);
    --color-fail-900:    oklch(0.936 0.032  17.717);
    --color-fail-950:    oklch(0.971 0.013  17.380);
    /* Light-END */
}

@layer base {
    [data-theme="dark"] {
        /* Dark-BEGIN */
        --color-neutral-50:  oklch(0.985 0.001 106.423);
        --color-neutral-100: oklch(0.970 0.001 106.424);
        --color-neutral-200: oklch(0.923 0.003  48.717);
        --color-neutral-300: oklch(0.869 0.005  56.366);
        --color-neutral-400: oklch(0.709 0.010  56.259);
        --color-neutral-500: oklch(0.553 0.013  58.071);
        --color-neutral-600: oklch(0.444 0.011  73.639);
        --color-neutral-700: oklch(0.374 0.010  67.558);
        --color-neutral-800: oklch(0.268 0.007  34.298);
        --color-neutral-900: oklch(0.216 0.006  56.043);
        --color-neutral-950: oklch(0.147 0.004  49.250);
        --color-primary-50:  oklch(0.977 0.013 236.620);
        --color-primary-100: oklch(0.951 0.026 236.824);
        --color-primary-200: oklch(0.901 0.058 230.902);
        --color-primary-300: oklch(0.828 0.111 230.318);
        --color-primary-400: oklch(0.746 0.160 232.661);
        --color-primary-500: oklch(0.685 0.169 237.323);
        --color-primary-600: oklch(0.588 0.158 241.966);
        --color-primary-700: oklch(0.500 0.134 242.749);
        --color-primary-800: oklch(0.443 0.110 240.790);
        --color-primary-900: oklch(0.391 0.090 240.876);
        --color-primary-950: oklch(0.293 0.066 243.157);
        --color-ok-50:       oklch(0.982 0.018 155.826);
        --color-ok-100:      oklch(0.962 0.044 156.743);
        --color-ok-200:      oklch(0.925 0.084 155.995);
        --color-ok-300:      oklch(0.871 0.150 154.449);
        --color-ok-400:      oklch(0.792 0.209 151.711);
        --color-ok-500:      oklch(0.723 0.219 149.579);
        --color-ok-600:      oklch(0.627 0.194 149.214);
        --color-ok-700:      oklch(0.527 0.154 150.069);
        --color-ok-800:      oklch(0.448 0.119 151.328);
        --color-ok-900:      oklch(0.393 0.095 152.535);
        --color-ok-950:      oklch(0.266 0.065 152.934);
        --color-warn-50:     oklch(0.987 0.026 102.212);
        --color-warn-100:    oklch(0.973 0.071 103.193);
        --color-warn-200:    oklch(0.945 0.129 101.540);
        --color-warn-300:    oklch(0.905 0.182  98.111);
        --color-warn-400:    oklch(0.852 0.199  91.936);
        --color-warn-500:    oklch(0.795 0.184  86.047);
        --color-warn-600:    oklch(0.681 0.162  75.834);
        --color-warn-700:    oklch(0.554 0.135  66.442);
        --color-warn-800:    oklch(0.476 0.114  61.907);
        --color-warn-900:    oklch(0.421 0.095  57.708);
        --color-warn-950:    oklch(0.286 0.066  53.813);
        --color-fail-50:     oklch(0.971 0.013  17.380);
        --color-fail-100:    oklch(0.936 0.032  17.717);
        --color-fail-200:    oklch(0.885 0.062  18.334);
        --color-fail-300:    oklch(0.808 0.114  19.571);
        --color-fail-400:    oklch(0.704 0.191  22.216);
        --color-fail-500:    oklch(0.637 0.237  25.331);
        --color-fail-600:    oklch(0.577 0.245  27.325);
        --color-fail-700:    oklch(0.505 0.213  27.518);
        --color-fail-800:    oklch(0.444 0.177  26.899);
        --color-fail-900:    oklch(0.396 0.141  25.723);
        --color-fail-950:    oklch(0.258 0.092  26.042);
        /* Dark-END */
    }
}

@layer utilities {
    .badge {
        @apply inline-flex items-center px-2.5 py-0.5 rounded-full text-sm font-medium leading-4;
    }
    .badge-neutral {
        @apply bg-neutral-800 text-neutral-100;
    }
    .badge-fail {
        @apply bg-fail-800 text-fail-100;
    }
    .badge-warn {
        @apply bg-warn-800 text-warn-100;
    }
    .badge-ok {
        @apply bg-ok-800 text-ok-100;
    }
    .badge-primary {
        @apply bg-primary-800 text-primary-100;
    }

    .prose {
        @apply leading-normal;
    }
    .prose > * + * {
        @apply mt-4;
    }
    .prose strong {
        @apply text-neutral-50 font-bold;
    }
    .prose strong a {
        @apply font-bold;
    }
    .prose h1 {
        @apply text-2xl font-bold mt-8;
    }
    .prose h2 {
        @apply text-xl font-bold mt-8;
    }
    .prose h3 {
        @apply text-lg font-bold mt-8;
    }
    .prose h4 {
        @apply text-base font-bold mt-4;
    }
    .prose p {
        @apply mt-4;
    }
    .prose blockquote {
        @apply border-l-4 border-neutral-500 pl-4 italic;
    }
    .prose blockquote.attention, .prose blockquote.hippo {
        @apply relative ml-20 mt-4;
    }
    .prose blockquote.attention::before {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="%234b5563" class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" /></svg>');
        @apply absolute content-[''] w-16 -left-20 top-0 bottom-0 border-neutral-300 bg-no-repeat;
    }
    [data-theme="dark"] .prose blockquote.attention::before {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23b4aa9c" class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" /></svg>');
        @apply absolute content-[''] w-16 -left-20 top-0 bottom-0 border-neutral-300 bg-no-repeat;
    }
    .prose blockquote.hippo::before {
        background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" fill="%234b5563"><path d="M37.8 9.3c-3.5-.9-7.2-.2-10.6.8C24.6.4 10.9-2.1 6.8 7.6a12.8 13.6 0 0 0 2 13.9c.4.4.9.8.8 1.3-.2 1-1.5 2.2-2 3a39.3 41.6 0 0 0-3.8 7 44.4 47 0 0 0-3 27.8A48.1 48.1 0 0 0 44 100a38 38 0 0 0 16-2.2c1.3-.6 4-1.2 4.7-2.7.6-1.3-.5-2.8-.9-4a11.6 12.3 0 0 1-.4-6c9.5 2.6 19.7.2 27-7 11.2-11 13.8-32.6 1.3-43.7-7.3-6.5-15.8-4.9-24.6-4.9 1.8-10.1-7.6-18-16.5-16.2a11 11 0 0 0-4.2-12c-1.6-1-3.6-1.8-5.3-.7-2.7 1.8-2.6 5.9-3.3 8.8m-14 9.4a20.3 20.3 0 0 1 22.3.2c.7.5 1.5 1.5 2.3 1.7 1.1.3 2.8-1 4-1 5-.3 8.5 2.9 9 8.2h-.2c-.4-1.7-2.5-3.8-3.6-1.4-1 2.5 1 5.8 2.8 7.2 6.4 5.1 14.6 1 21.7 2.6 11.8 2.7 14.4 19.5 9.5 29.4-4-1.7-7.6-2.5-11.9-1.5-3.4.9-6.4 3-9.6 4.4a20.5 20.5 0 0 1-10.8 1.3 16.1 16.1 0 0 1-13-9.8c-1.6-4 .4-9.7-4.1-12a8.9 9.4 0 0 0-2.2-.7 7.8 8.3 0 0 0-6 1.9c-.9.7-1.6 1.7-1.3 2.9 1 3.4 5-.7 6.5 1.8.5.8 0 2 0 3a19 20.1 0 0 0 1.1 5.6 32.1 32.1 0 0 0 14.5 17.1v.2a26.3 28 0 0 1-17.5-2.5 24 24 0 0 1-4.8-3.5c-.5-.4-1.2-1.3-1.9-.8s-.3 1.5.1 2.2a30 30 0 0 0 3.8 5 24.3 25.7 0 0 0 13 7.2c1.6.3 3.4.7 5 .3v.2c-5.9 2.3-13.7.6-18.9-2.7a23.8 25.2 0 0 1-4.8-4c-.5-.4-1.3-1.6-2-1.6-2 .2.5 3.4 1 4a31.5 33.4 0 0 0 8.6 8c-1.1.3-3.1-.6-4.2-1a43 45.6 0 0 1-9.5-5.5A42.6 42.6 0 0 1 7.9 40.3a39 39 0 0 1 7-13.5c.6-.6 1.1-1.4 1.9-1.8 1-.6 2.5-.4 2.9-1.9.6-2.1-3-2.9-4.2-3.7a8.3 8.3 0 0 1-3.3-8.8c1-3.7 5-3.4 7.5-1.6 3 2.2 4 6 4 9.7m-2.9-.5c0-2.6-1-5.1-3-6.6-.5-.5-1.8-1.4-2.5-.7-.7.6-.4 2.2-.1 3 .8 2.4 3.3 4 5.6 4.3m10.4 1.4c-1.8.3-4 .8-5.3 2.3-1 1-1 2.9.4 3.4 1.2.5 2.8-.5 4-.8 2-.3 4.3.2 6.1 1.3a10.1 10.7 0 0 1 3.9 4.1c.6 1.2 1 3.3 2.8 2.9 3.3-.7 1-5.9-.1-7.5a12.5 13.3 0 0 0-11.7-5.7m-1.6 10.2c-5.2 1-3.6 9.9 1.6 9 5.6-1.1 4-10-1.6-9m-1 2c1.1-.4 1.6 1.6.5 2-1 .3-1.6-1.5-.6-2m57 10.6c-2.2.5-3 3.7-2.8 5.8.1 1.3.8 3 2.2 2.6 1.8-.4 1-2 1.6-3.2.4-.7 1.4-.7 1.8-1.5 1.2-2-.8-4.2-2.8-3.7M67.3 45c-2 .6-2.8 3.5-.8 4.6.8.5 2.2.1 2.9.7 1 .9.8 2.9 2.7 2.5 2-.5 1.6-2.8 1-4.2-1-2.4-3.3-4.2-5.8-3.6M88 71.2c-4.4 6.6-13.5 9.2-20.7 7.7-2.3-.5-4-1.5-6.1-2.4.9-.2 2 0 3 0a31 31 0 0 0 6.5-1.5c3.7-1.2 7-4 11-4.6a14 14.9 0 0 1 6.3.8z"/></svg>');
        @apply absolute content-[''] w-16 -left-20 top-0 bottom-0 border-neutral-300 bg-no-repeat;
    }
    [data-theme="dark"] .prose blockquote.hippo::before {
        background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" fill="%23b4aa9c"><path d="M37.8 9.3c-3.5-.9-7.2-.2-10.6.8C24.6.4 10.9-2.1 6.8 7.6a12.8 13.6 0 0 0 2 13.9c.4.4.9.8.8 1.3-.2 1-1.5 2.2-2 3a39.3 41.6 0 0 0-3.8 7 44.4 47 0 0 0-3 27.8A48.1 48.1 0 0 0 44 100a38 38 0 0 0 16-2.2c1.3-.6 4-1.2 4.7-2.7.6-1.3-.5-2.8-.9-4a11.6 12.3 0 0 1-.4-6c9.5 2.6 19.7.2 27-7 11.2-11 13.8-32.6 1.3-43.7-7.3-6.5-15.8-4.9-24.6-4.9 1.8-10.1-7.6-18-16.5-16.2a11 11 0 0 0-4.2-12c-1.6-1-3.6-1.8-5.3-.7-2.7 1.8-2.6 5.9-3.3 8.8m-14 9.4a20.3 20.3 0 0 1 22.3.2c.7.5 1.5 1.5 2.3 1.7 1.1.3 2.8-1 4-1 5-.3 8.5 2.9 9 8.2h-.2c-.4-1.7-2.5-3.8-3.6-1.4-1 2.5 1 5.8 2.8 7.2 6.4 5.1 14.6 1 21.7 2.6 11.8 2.7 14.4 19.5 9.5 29.4-4-1.7-7.6-2.5-11.9-1.5-3.4.9-6.4 3-9.6 4.4a20.5 20.5 0 0 1-10.8 1.3 16.1 16.1 0 0 1-13-9.8c-1.6-4 .4-9.7-4.1-12a8.9 9.4 0 0 0-2.2-.7 7.8 8.3 0 0 0-6 1.9c-.9.7-1.6 1.7-1.3 2.9 1 3.4 5-.7 6.5 1.8.5.8 0 2 0 3a19 20.1 0 0 0 1.1 5.6 32.1 32.1 0 0 0 14.5 17.1v.2a26.3 28 0 0 1-17.5-2.5 24 24 0 0 1-4.8-3.5c-.5-.4-1.2-1.3-1.9-.8s-.3 1.5.1 2.2a30 30 0 0 0 3.8 5 24.3 25.7 0 0 0 13 7.2c1.6.3 3.4.7 5 .3v.2c-5.9 2.3-13.7.6-18.9-2.7a23.8 25.2 0 0 1-4.8-4c-.5-.4-1.3-1.6-2-1.6-2 .2.5 3.4 1 4a31.5 33.4 0 0 0 8.6 8c-1.1.3-3.1-.6-4.2-1a43 45.6 0 0 1-9.5-5.5A42.6 42.6 0 0 1 7.9 40.3a39 39 0 0 1 7-13.5c.6-.6 1.1-1.4 1.9-1.8 1-.6 2.5-.4 2.9-1.9.6-2.1-3-2.9-4.2-3.7a8.3 8.3 0 0 1-3.3-8.8c1-3.7 5-3.4 7.5-1.6 3 2.2 4 6 4 9.7m-2.9-.5c0-2.6-1-5.1-3-6.6-.5-.5-1.8-1.4-2.5-.7-.7.6-.4 2.2-.1 3 .8 2.4 3.3 4 5.6 4.3m10.4 1.4c-1.8.3-4 .8-5.3 2.3-1 1-1 2.9.4 3.4 1.2.5 2.8-.5 4-.8 2-.3 4.3.2 6.1 1.3a10.1 10.7 0 0 1 3.9 4.1c.6 1.2 1 3.3 2.8 2.9 3.3-.7 1-5.9-.1-7.5a12.5 13.3 0 0 0-11.7-5.7m-1.6 10.2c-5.2 1-3.6 9.9 1.6 9 5.6-1.1 4-10-1.6-9m-1 2c1.1-.4 1.6 1.6.5 2-1 .3-1.6-1.5-.6-2m57 10.6c-2.2.5-3 3.7-2.8 5.8.1 1.3.8 3 2.2 2.6 1.8-.4 1-2 1.6-3.2.4-.7 1.4-.7 1.8-1.5 1.2-2-.8-4.2-2.8-3.7M67.3 45c-2 .6-2.8 3.5-.8 4.6.8.5 2.2.1 2.9.7 1 .9.8 2.9 2.7 2.5 2-.5 1.6-2.8 1-4.2-1-2.4-3.3-4.2-5.8-3.6M88 71.2c-4.4 6.6-13.5 9.2-20.7 7.7-2.3-.5-4-1.5-6.1-2.4.9-.2 2 0 3 0a31 31 0 0 0 6.5-1.5c3.7-1.2 7-4 11-4.6a14 14.9 0 0 1 6.3.8z"/></svg>');
        @apply absolute content-[''] w-16 -left-20 top-0 bottom-0 border-neutral-300 bg-no-repeat;
    }
    .prose kbd,
    .prose p code,
    .prose ol code,
    .prose ul code,
    .prose blockquote code,
    .prose h1 code,
    .prose h2 code,
    .prose h3 code,
    .prose h4 code {
        @apply mx-0.5 px-1 py-0.5 font-mono bg-neutral-700 rounded shadow-sm ring-1 ring-neutral-100/25;
    }
    .prose pre.mermaid {
        @apply block my-4 font-mono text-sm overflow-x-auto;
    }
    .prose pre:not(.mermaid) {
        @apply block my-4 p-4 rounded-md font-mono text-sm shadow-md overflow-x-auto;
    }
    .prose ul {
        @apply pl-4 list-disc;
        @apply sm:pl-8;
    }
    .prose .tags-list {
        @apply pl-0 list-none;
    }
    .prose ol {
        @apply pl-4 list-decimal;
        @apply sm:pl-8;
    }
    .prose td, .prose th {
        @apply px-2 py-1 border border-neutral-700;
    }
    .prose tbody tr:nth-child(odd) {
        @apply bg-neutral-800;
    }
    .prose table {
        @apply my-4;
    }
    .prose img {
        @apply my-4 rounded-md;
    }
    .prose img.image-shortcode {
        @apply my-0;
    }
    .prose details {
        @apply my-4 rounded-md border border-neutral-700 bg-neutral-900/40;
    }
    .prose summary {
        @apply cursor-pointer select-none px-3 py-2 font-medium;
    }
    .prose details > *:not(summary) {
        @apply px-3 pb-3;
    }
    .prose mark {
        @apply mx-0.5 px-1 py-0.5 bg-primary-800 text-primary-100 rounded shadow-sm ring-1 ring-primary-800;
    }
    .prose del {
        @apply text-neutral-500;
    }
    .prose dl {
        @apply my-4;
    }
    .prose dt {
        @apply font-semibold text-neutral-100;
    }
    .prose dd {
        @apply ml-4 text-neutral-300;
    }
    .prose sup {
        @apply text-xs align-text-top;
    }
    .prose sub {
        @apply text-xs align-text-bottom;
    }
    .prose hr {
        @apply border-0 border-t border-neutral-700 my-4 h-0 p-0;
    }
    .prose .footnote-definition:first-of-type {
        @apply mt-4 border-0 pt-0;
    }
    .prose hr + .footnote-definition {
        @apply mt-0;
    }
    .prose .footnote-definition {
        @apply mt-2 text-sm text-neutral-300 grid grid-cols-[max-content_1fr] gap-x-2 items-start;
    }
    .prose .footnote-definition-label {
        @apply text-xs col-start-1 text-primary-300;
    }
    .prose .footnote-definition p {
        @apply m-0 col-start-2;
    }
    .prose .footnote-definition p + p {
        @apply mt-2;
    }
    .prose .footnote-reference {
        @apply text-xs align-text-top;
    }
    .prose p.inline-block img {
        @apply inline-block;
    }
    /* Since Zola v0.22.0: needed for `extra_grammars` and/or `extra_themes` */
    .prose .giallo-l {
        @apply inline-block w-full min-h-[1lh];
    }
    .prose .giallo-ln {
        @apply inline-block select-none text-right opacity-80 mr-[0.4em] p-[0.4em] min-w-[3ch];
    }

    body {
        @apply text-neutral-200 bg-neutral-950 antialiased;
    }
    h1 {
        @apply text-2xl font-bold;
    }
    h2 {
        @apply text-xl font-bold;
    }
    h3 {
        @apply text-lg font-bold;
    }
    h4 {
        @apply text-base font-bold;
    }
    a {
        @apply text-primary-300 no-underline;
    }
    a:hover {
        @apply text-primary-200;
    }
}

:root {
    background-color: var(--color-neutral-950);
}

html {
    --scrollbar-bg: var(--color-neutral-950);
    --scrollbar-thumb: var(--color-neutral-700);
    --scrollbar-thumb-hover: var(--color-neutral-500);
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
}

input[type="search"] {
    -webkit-appearance: none;
    appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}


/* See https://github.com/mermaid-js/mermaid/issues/2644#issuecomment-2313201033 */
[data-theme='dark'] .mermaid {
    filter: invert(0.85) hue-rotate(45deg);
}

/* WebKit */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 6px;
    border: 3px solid var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}

/* Used for light-dark-image, default: show light image, hide dark image; light images comes first */
.light-dark-image img:nth-child(1) {
    display: block;
}

.light-dark-image img:nth-child(2) {
    display: none;
}

/* Dark mode: Show dark image, hide light image */
html[data-theme="dark"] .light-dark-image img:nth-child(1) {
    display: none;
}

html[data-theme="dark"] .light-dark-image img:nth-child(2) {
    display: block;
}

/* Artalk */
#Comments.atk-hide-copyright .atk-copyright {
    display: none;
}
