<div class="bg-blue-500 text-white shadow-md">
  <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
    <div>
      {% if config.extra.quote and config.extra.quote.text %}
        <div><span class="text-lg font-bold">{{ config.extra.quote.text }}</span>
        {% if config.extra.quote.author %}
          <span class="font-normal"> &ndash; {{ config.extra.quote.author }}</span>
        {% endif %}
        </div>
      {% endif %}
      {% if config.extra.site_description %}
        <div><span class="font-normal">{{ config.extra.site_description }}</span></div>
      {% endif %}
    </div>
  </div>
</div>
