<script type="application/ld+json">
{
   "@context": "https://schema.org"
  ,"@type": "BlogPosting"
  ,"mainEntityOfPage": {
     "@type": "WebPage"
    ,"@id": "{{ page.permalink | safe }}"
  }
  ,"headline": {{ page.title | default(value=res.empty_page_title) | striptags | json_encode | safe }}
  ,"datePublished": "{{ page.date | date(format='%Y-%m-%d') }}"
  ,"dateModified": "{% if page.updated %}{{ page.updated | date(format='%Y-%m-%d') }}{% else %}{{ page.date | date(format='%Y-%m-%d') }}{% endif %}"
{% if page.authors %}
  ,"author": [
    {% for author in page.authors %}
      {
         "@type": "Person"
        ,"name": "{{ author }}"
      }
      {% if not loop.last %},{% endif %}
    {% endfor %}
  ]
  ,"publisher": {
     "@type": "Person"
    ,"name": "{{ page.authors[0] }}"
  }
  {% endif %}
  ,"description": {{ page.description | default(value=res.empty_page_description) | striptags | json_encode | safe }}
  ,"articleBody": {{ page.content | striptags | json_encode | safe }}
  {% if page.extra.image %}
    ,"image": "{{ get_url(path=page.path ~ page.extra.image, absolute=true) }}"
  {% endif %}
}
</script>
