<div class="max-w-7xl mx-auto pt-8 px-4 sm:px-6 lg:px-8">
  <h1 class="text-center lg:text-left">
    {{ taxonomy_title }}
  </h1>
  <div class="mx-auto py-4">
    {% for term in terms %}
      {% set item_count = term.pages | length %}
        <div class="py-4">
          <span class="px-4 py-2 badge badge-primary leading-5 font-bold"><a href="{{ term.permalink }}">{{ term.name }}</a></span>
          <span class="ml-2">{{ item_count | num_format(locale=locale) }} {{ item_count | pluralize(singular=res.posts.one, plural=res.posts.other) }}</span>
        </div>
    {% endfor %}
  </div>
</div>
