{% extends "base.html" %}
{% import "macros/toc.html" as toc %}

{% block head_extra %}
  {% include "partials/highlight-css.html" %}
{% endblock head_extra %}

{% block content %}
<div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
  <article
    class="prose"
    data-clipboard-copy="{{ res.clipboard_copy }}"
    data-clipboard-copied="{{ res.clipboard_copied }}"
    data-clipboard-error="{{ res.clipboard_error }}"
  >
    <h1>{{ page.title | default(value=res.empty_page_title) }}</h1>
    {{ toc::render_block(page=page, res=res) }}
    <div>
      {{ page.content | safe }}
    </div>
  </article>
</div>
{% endblock content %}
